body {
    font-family: Bangers-Regular;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

li {
    list-style-type: none;
}

.backgroundColorF4D {
    background-color: #FF4F7D;
}

.colorFFF {
    color: #ffffff;
}

.color000 {
    color: #000000;
}

.colorF4D {
    color: #FF4F7D;
}

.myrow {
    margin-left: 0;
    margin-right: 0;
}

.mycol {
    padding-left: 0;
    padding-right: 0;
}

.Textnavbar {
    color: #ffffff;
    font-size: 30px;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 15px;
    transition: 0.1s all;
}

.Textnavbar2 {
    margin-top: 15px;
    margin-right: 20%;
    margin-left: 20%;
    color: #ffffff;
    font-size: 28px;
    transition: 0.1s all;
}

.navImeig {
    height: 80px;
    margin-left: 20px;

}

.Textnavbar:hover {
    font-size: 35px;
    background-color: #ccc;
    color: #000000;
}

.Textnavbar2:hover {
    font-size: 32px;
    background-color: #ccc;
    color: #000000;
}

.video {
    width: 82%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 25px;
}

.Text {
    position: absolute;
    margin-left: 25px;
    margin-top: 10%;
    font-size: 500%;
    margin-right: 70%;
    font-size: 50px;
}

.zag1 {
    margin-top: 50px;
    font-size: 50px;
}

.senrovat1Bloc {
    margin-top: 100px;
    text-align: center;
    font-size: 90px;
}



.senrovat1Bloc2 {
    font-size: 50px;
}

.senrovat2Bloc {
    text-align: center;
    font-size: 70px;
}

.senrovat2Bloc2 {
    text-align: center;
    font-size: 50px;
}

.senrovat4Bloc1 {
    text-align: center;
    font-size: 100px;
}
.senrovat4Bloc5 {
    text-align: center;
    font-size: 90px;
    margin-left:20px;
    margin-top: 75px;
}
.senrovat4Bloc6 {
    text-align: center;
    font-size: 50px;
    margin-right:20px;
}

.senrovat4Bloc2 {
    text-align: center;
    font-size: 50px;
}

.Eroor404senrovat {
    text-align: center;
    font-size: 90px;
}

.imeig2bloc {
    border-radius: 35px;
    float: left;
    width: 40%;
    margin-top: 50px;
    margin-left: 35%;
}

.imeig2bloc2 {
    border-radius: 35px;
    float: right;
    width: 40%;
    margin-right: 35%;
    margin-top: 50px;
}

.imeig4bloc {
    width: 110%;
    margin-top: 50px;
}

.Text5 {
    margin-top: 3%;
    text-align: center;
    font-size: 60px;
}

.Text3 {
    color: #FF4F7D;
    border: 2px solid #5293C3;
    margin-bottom: 10px;
    padding: 0px;
    background-color: #ffffff;
    border-radius: 80px;
    width: 300px;
    text-align: center;
    transition: 0.5s all;
    font-size: 40px;
}

.Text3:hover {
    border: 2px dashed #3d9bdf;
    background-color: #B9D9C4;
}

.tex {
    margin-top: 365px;
}

.tex2 {
    margin-top: 350px;
}

.tex4 {
    font-size: 90px;
}

.butonCentrirovat {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.butonCentrirovat2 {
    left: 0;
    right: 0;
    margin: 0 auto;
}

.buton1 {
    margin-top: 20px;
    width: 40%;
    float: left;
    margin-left: 35%;
}

.buton3 {
    width: 40%;
    float: left;
    margin-left: 35%;
}

.buton2 {
    margin-top: 20px;
    width: 40%;
    float: right;
    margin-right: 35%;
}

.buton4 {
    text-align: center;
    margin-left: 36%;
}

.buton5 {
    text-align: center;
    width: 80%;
}

.buton6 {
    color: #FFFFFF;
    border: 2px solid #FF4F7D;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FF4F7D;
    border-radius: 80px;
    width: 300px;
    float: center;
}

.buton6:hover {
    color: #000000;
    border: 2px dashed #3d9bdf;
    background-color: #B9D9C4;
}

.buton7 {
    color: #FFFFFF;
    font-size: 50px;
}

.buton7:hover {
    color: #000000;
}

.animator {
    transition: 0.5s all;
}

.animator5 {
    transition: 0.5s all;
}

.animator3 {
    transition: 0.3s all;
}

.animator1 {
    transition: 0.1s all;
}

.width110 {
    width: 110%;
}

.width120 {
    width: 120%;
    float: center;
}

.width100 {
    width: 100%;
}

.width80 {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.width60 {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}

.width40 {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

.width20 {
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
}

.sotseti {
    background-color: #FF4F7D;
    border-radius: 15px;
    position: fixed;
    left: -20px;
    bottom: 60%;
    width: 68px;
    z-index: 100;
}

.sotsetiIcons {
    z-index: 150;
    width: 30px;
    margin-left: 28px;
    margin-top: 10px;
}

.MarketplaceTovar {
    margin-top: 50px;
    /* background-color: #FF4F7D; */
    /* border-radius: 20px; */
}

.senrovatMarketplaceText {
    text-align: left;
    margin-left: 28%;
    font-size: 20px;
    margin-top: -19%;
    max-width: 65%;
}

.senrovatMarketplaceText2B{
    text-align: right;
    margin-right: 46%;
    font-size: 90%;
    margin-top: -20px;
}

.senrovatMarketplaceText2A{
    text-align: right;
    margin-right: 46%;
    font-size:90%;
    margin-top: -60px;
    margin-bottom: -1%;
}

#vsplivaska {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 20px;
}

.MarketplaceCat {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 18px;
    top:75px;
    margin: 0 auto;
    width: 50%;
}

.MarketplaceImeig {
    border-radius: 15px;
    float: left;
    width: 40%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 35%;
}

.MarketplaceImeig2 {
    position: absolute;
    float: right;
    width: 7%;
    /* margin-top: 50px; */
    margin-top:0%;
    margin-left: 2%;
}

.MarketplaceVidvigat{
    width:60%;
}

/* .MarketplaceVidvigat:hover{
    width:70%;
} */




.geimObvodka {
    margin-top: 30px;
    /* max-width: 1020px;
    max-height: 660px; */
    /* z-index: 2; */
}

.geimTop{
    margin-top: 60px;
}

.butonCentrirovatGeims{
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    margin: 0 auto;
    z-index: -10;
}

.nftText {
    font-size: 25px;
}

.nftImeig{
    margin-left: 100px;
}
.nftButton{
    width: 200px;
}

.senrovatprofilBloc {
    margin-top: 100px;
    margin-left: 5%;
    /* text-align: left; */

    font-size: 20px;
}