{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ title }}
{%endblock %}
{% block head %}
<script>
  mergeInto(LibraryManager.library, {
    ShareFuncsiaTelegram: function (moneu, distansion) {
      window.open(
        "https://telegram.me/share/url?url=" + textMesends(moneu, distansion),
        "sharer",
        "status=0,toolbar=0,width=650,height=500"
      );
    },
    ShareFuncsiaFacebook: function (moneu, distansion) {
      window.open(
        "https://www.facebook.com/sharer.php?u=" +
          textMesends(moneu, distansion),
        "sharer",
        "status=0,toolbar=0,width=650,height=500"
      );
    },
    ShareFuncsiaTwitter: function (moneu, distansion) {
      window.open(
        "https://twitter.com/intent/tweet?text=" +
          textMesends(moneu, distansion),
        "sharer",
        "status=0,toolbar=0,width=650,height=500"
      );
    },
    registor: function (moneu, distansion) {
      conect();
    },
    buiNftJS: async function () {
      return await buiNft();
    },
  });
</script>
{% endblock %}
{% block body %}
  <body width="100%" bgcolor="#000" background='{% static "main/multimedia/game content/fonGeim.png" %}'>
  {% comment %} <img width="100%" height="" class="butonCentrirovatGeims" src='{% static "main/multimedia/fonGeim.png" %}'/> {% endcomment %}
  <img width="1020px" height="660px" class="geimObvodka butonCentrirovat" src='{% static "main/multimedia/game content/obvotkaa.png" %}'/>
  <canvas class="butonCentrirovat geimTop"
    id="unity-canvas"
    width="960" height="600"
    style="width: 960px; height: 600px; background: #231f20">
    </canvas>
    
  

  <canvas width="1020px" height="660px" style="margin-bottom: 50px;" class="geimTop"></canvas>
  <script src="{% static 'Build/ttt.loader.js' %}"></script>
  <script>
          if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
          var meta = document.createElement("meta");
          meta.name = "viewport";
          meta.content =
            "width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, shrink-to-fit=yes";
          document.getElementsByTagName("head")[0].appendChild(meta);
          }

          createUnityInstance(document.querySelector("#unity-canvas"), {
          dataUrl: "{% static 'Build/ttt.data.br'%}",
          frameworkUrl: "{% static 'Build/ttt.framework.js.br'%}",
          codeUrl: "{% static 'Build/ttt.wasm.br'%}",
          streamingAssetsUrl: "StreamingAssets",
          companyName: "GJstudio",
          productName: "CryptoRunner",
          productVersion: "0,1",
          });
  </script>
{% endblock %}
