{% extends "base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    <!-- <div class="container-fluid">
        <div class="col-md-2">
            <button>960:600</button>
        </div>
        <div class="col-md-2">
            <button>960:600</button>
        </div>
        <div class="col-md-2">
            <button>960:600</button>
        </div>
        <div class="col-md-2">
            <button>960:600</button>
        </div>
        <div class="col-md-2">
            <button>960:600</button>
        </div>
        <div class="col-md-2">
            <button>960:600</button>
        </div>
    </div> -->


    <canvas class="butonCentrirovat" id="unity-canvas" width=960 height=600 style="width: 960px; height: 600px; background: #231F20"></canvas>
    <canvas width=960 height=600></canvas>
    <script src="{% static 'Build/ttt.loader.js' %}"></script>
    <script>
        if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
            var meta = document.createElement('meta');
            meta.name = 'viewport';
            meta.content = 'width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, shrink-to-fit=yes';
            document.getElementsByTagName('head')[0].appendChild(meta);
        }

        createUnityInstance(document.querySelector("#unity-canvas"), {
            dataUrl: "{% static 'Build/ttt.data.br'%}",
            frameworkUrl: "{% static 'Build/ttt.framework.js.br'%}",
            codeUrl: "{% static 'Build/ttt.wasm.br'%}",
            streamingAssetsUrl: "StreamingAssets",
            companyName: "GJstudio",
            productName: "CryptoRunner",
            productVersion: "0,1",
        });
    </script>
    
{% endblock %}