{% extends "base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 colorF4D senrovat1Bloc">
            <h1 class="senrovat1Bloc">BONNY GAMES</h1>
            <div class="zag1">
                Play To Earn <br> Blockchain Gameverse
            </div>
        </div>
        <div class="col-md-6">
            <video autoplay muted loop preload="auto" class="video">
                <source src='{% static "main/multimedia/video.mov" %}'>
            </video>
        </div>
    </div>
</div>

<br>
<div class="colorF4D navbar container-fluid">
    <h1 class="colorFFF senrovat2Bloc">PLAY BONNY GAMES NOW</h1>

    <div class="col-md-6">
        <img class="imeig2bloc" src='{% static "main/multimedia/game icons + imag/crypto runner.png" %}'/>
        <div class="Text3 buton1 animator"><a href="{% url 'geimCryptoRunner'%}"><div class="colorF4D">Play</div></a></div><br>
        {% comment %} <div class="Text3 buton3 animator"><a href="{% url 'Razrabotka'%}"><div class="colorF4D">Visit Store</div></a></div> {% endcomment %}
    </div>

    <div class="col-md-6">
        <img class="imeig2bloc2" src='{% static "main/multimedia/game icons + imag/anim arena.png" %}'/>
        <div class="Text3 buton2 animator"><a href="{% url 'Razrabotka'%}"><div class="colorF4D">In Development</div></a></div>
    </div>
    <div class="col-md-12"><br><br></div>
</div>

<br>
<div class="colorF4D container-fluid">
    <h1 class="colorF4D senrovat2Bloc col-md-12">Earn And Trade Bonny NFT</h1>
    <div class="col-md-12"><br></div>

    <div class="col-md-2"></div>
    <div class="colorF4D senrovat2Bloc2 col-md-8">
        Earn your NFTs item by playing the game and sell it on the marketplace to make money<br><br>
        <a href="{% url 'MARKETPLACE'%}" class="Text3 butonCentrirovat buton6 animator colorF4D">MARKETPLACE</a>
        <br>
    </div>

    <video autoplay muted loop preload="auto" class="width80 col-md-12">
        <source src='{% static "main/multimedia/videos/Boxes.mov" %}'>
    </video>
</div>

<br>
<div class="colorF4D container-fluid mycol">
    <h1 class="navbar col-md-12 colorFFF senrovat4Bloc1">Bonny Token</h1>
    <div class="col-md-12 colorF4D senrovat4Bloc2">XXXX tocen XXXXX</div>
    <div class="col-md-1"></div>
    <div class="col-md-4 Text5 colorF4D">
        Play, Farm, Earn Bonny Token In Our Games <br><br>
        <a href="{% url 'Razrabotka'%}" class="Text3 butonCentrirovat buton6 animator colorF4D">Stake</a><br>
        <a href="{% url 'Razrabotka'%}" class="Text3 butonCentrirovat buton6 animator colorF4D">Get Bonny</a><br>
    </div>
    <div class="col-md-6">
        <img class="imeig4bloc" src='{% static "main/multimedia/imagies for blocks/Koneika.png" %}'/>
    </div>
    <div class="col-md-1"></div>
</div>

<br>
<div class="colorF4D container-fluid mycol">
    <h1 class="navbar col-md-12 colorFFF senrovat4Bloc1">Road Map</h1>
    <div class="col-md-12">
        <img class="width100" src='{% static "main/multimedia/imagies for blocks/road map.png" %}'/>
    </div>
</div>

<br>
<div class="colorF4D container-fluid mycol">
    <h1 class="navbar col-md-12 colorFFF senrovat4Bloc1">Our Team</h1>

    <div class="col-md-12 colorF4D senrovat2Bloc">We Stay and Based In Ukraine</div>
    <div class="col-md-12">
        <img class="width80" src='{% static "main/multimedia/imagies for blocks/Map.png" %}'/>
    </div>
</div>

{% endblock %}