{% extends "base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block head %}
<script>
    let isVisual = false;
    
    function zatia(){
        const Elsem = document.getElementById("vsplivaska")
        console.log(Elsem);
        if(isVisual){
            Elsem.style.width = "0px";
            Elsem.style.height = "0px";
            Elsem.style.backgroundColor = "#00000000";
        }else{
            Elsem.style.width = "50%";
            Elsem.style.height = "";
            Elsem.style.backgroundColor = "#3d9bdf";
        }
        isVisual =!isVisual; 
    }

const urlNFTbui = "{% url 'MARKETPLACE'%}";

async function getData(method, url, body = null) {
  return new Promise((resolve, reject) => {
    const xhr = new XMLHttpRequest();

    xhr.open(method, url);

    xhr.responseType = "json";
    xhr.setRequestHeader("Content-Type", "application/json");

    xhr.onload = () => {
      if (xhr.status >= 400) reject(xhr.response);
      else resolve(xhr.response);
    };
    xhr.onerror = () => {
      reject(xhr.response);
    };

    xhr.send(JSON.stringify(body));
  });
}


async function NFTnokunka(i){
    console.log(i);
  await getData("POST", urlNFTbui, {
    NFT: i,
  });
  window.location.href = "";
}


</script>

 {% comment %} <style>
body {background-color: #000000}
</style>  {% endcomment %}
{% endblock %}

{% block body %}
<h1 class="colorF4D senrovat2Bloc">MARKETPLACE<br></h1>
{% comment %} <button class="Text3 butonCentrirovat buton6 animator colorF4D" onclick="zatia()">\/</button></h1> {% endcomment %}

 {% comment %} <br> <br> {% endcomment %}
{% comment %} <div class="colorF4D container-fluid animator3" id="vsplivaska" style="width: 0px;">
    <p class="col-md-6"><a href="{% url 'MARKETPLACE'%}/1">
        <img class="MarketplaceImeig width60" src='{% static "mein/crypto runner.png" %}'/>
    </a></p>
    <p class="col-md-6"><a href="{% url 'MARKETPLACE'%}/2">
        <img class="MarketplaceImeig width60" src='{% static "mein/anim arena.png" %}'/>
    </a></p>
</div> {% endcomment %}

<div class="colorF4D container-fluid">
    {% if not tovar %}
    Sold Out
    {% endif %}
    {% for i in tovar%}
        <div class="col-md-4 senrovat2Bloc animator color000">
            <div class="MarketplaceTovar">
            <p>
            <button onclick="NFTnokunka('{{i.nft.idHash}}')" class="colorFFF">
            {% comment %} <a href="{% url 'main'%}" class="colorFFF"> {% endcomment %}
                    {% comment %} <div>#фото#</div> {% endcomment %}
                    <img src='{% static "mein/nft tranp.png" %}' class="MarketplaceVidvigat animator" alt=""/>
                    <img src='{{i.nft.СlothesTip.Photo.url}}' class="MarketplaceCat " alt=""/>
            {% comment %} </a> {% endcomment %}
                </button>
                <div class="senrovatMarketplaceText colorFFF">
                    runner: <br>
                    price:
                    <div class="senrovatMarketplaceText2A">
                        #
                        {{i.pk}}
                    </div>
                    <br>
                    <div class="senrovatMarketplaceText2B">
                        {% comment %} 0.05 {% endcomment %}
                        {{i.stoimost}}
                        <img src='{% static "mein/sol tran.png" %}' class="MarketplaceImeig2" alt=""/>
                    </div>
                </div>
                    {% comment %} {{}} {% endcomment %}
                    <br>
                </p>
            </div>
        </div>
    {% endfor %}
    
</div>


{% endblock %}