{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
<script>
    let isVisual = false;
    function zatia(){
        const Elsem = document.getElementById("vsplivaska")
        console.log(Elsem);
        if(isVisual){
            Elsem.style.width = "0px";
            Elsem.style.height = "0px";
            Elsem.style.backgroundColor = "#00000000";
        }else{
            Elsem.style.width = "50%";
            Elsem.style.height = "";
            Elsem.style.backgroundColor = "#3d9bdf";
        }
        isVisual =!isVisual; 
    }
</script>
{% endblock %}
{% block body %}
    <h1 class="colorF4D senrovat2Bloc">
        MARKETPLACE
        <br>
    </h1>

    {% comment %} <button class="Text3 butonCentrirovat buton6 animator colorF4D" onclick="zatia()">\/</button></h1>
        <br> <br> 
        <div class="colorF4D container-fluid animator3" id="vsplivaska" style="width: 0px;">
        <p class="col-md-6"><a href="{% url 'MARKETPLACE'%}/1">
        <img class="MarketplaceImeig width60" src='{% static "main/crypto runner.png" %}'/>
        </a></p>
        <p class="col-md-6"><a href="{% url 'MARKETPLACE'%}/2">
        <img class="MarketplaceImeig width60" src='{% static "main/anim arena.png" %}'/>
        </a></p>
        </div>  {% endcomment %}
    
    {% if not tovar %}
        <br><br><br><br>
        <div class="senrovat2Bloc colorF4D">Sold Out</div>
        <br><br><br><br>
    {% endif %}
    <div class="colorF4D container-fluid">
        {% for i in tovar %}
            <div class="col-md-4 senrovat2Bloc animator color000">
                <div class="MarketplaceTovar">
                    <p>
                        <a href="{% url 'nft'%}{{ i.nft.idHash}}" class="colorFFF">
                            <img src='{% static "main/multimedia/nft content/nft tranp.png" %}'
                                 class="MarketplaceVidvigat animator"
                                 alt=""/>
                            <img src='{{ i.nft.ClothesTip.Photo.url }}' class="MarketplaceCat " alt=""/>
                        </a>
                        <div class="senrovatMarketplaceText colorFFF">
                            runner:
                            <br>
                            price:
                            <div class="senrovatMarketplaceText2A">
                                # {{ i.nft.id }}
                            </div>
                            <br>
                            <div class="senrovatMarketplaceText2B">
                                {{ i.stoimost }}
                                <img src='{% static "main/multimedia/logo/sol tran.png" %}'
                                     class="MarketplaceImeig2"
                                     alt=""/>
                            </div>
                        </div>
                        <br>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
