{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}{% endblock %}
{% block body %}

    <div class="colorF4D container-fluid" id="bloc1">
        <div class="col-md-4 senrovat2Bloc">
            <img class=" width100 nftImeig"
                 src='{{ NFT.ClothesTip.Photo.url }}'
                 alt=""/>
        </div>
        <div class="col-md-7 nftText">
            <br>
            <br>
            <div class="text-center">
                <div>runner: #{{ NFT.pk }}</div>
                <div>
                    Game:
                    <u><a class="colorF4D" href="{% url 'geimCryptoRunner' %}" target="_blank">Crypto Runner</a></u>
                </div>
                <div>Energy: {{ NFT.Energia }}/{{ NFT.EnergiaMax }}</div>
                {% comment %} <div>Pleir: {{ NFT.Pleir.idHash }}</div> {% endcomment %}
            </div>
            <div>
                {% if not registor %}
                    <a class="Text3 butonCentrirovat buton6 animator colorF4D nftButton"
                       href="{% url 'registr' %}">Login</a>
                {% elif market and not pleir %}
                    <div class="text-center">Price: {{ stoimost }} sol +4%</div>
                    <br>
                    <div >
                        <button class="Text3 butonCentrirovat buton6 animator colorF4D nftButton"
                                onclick="NFTnokunka('{{ NFT.idHash }}','bui')">
                            Buy
                        </button>
                    </div>
                {% elif not market and pleir %}
                    <button class="Text3 butonCentrirovat buton6 animator colorF4D nftButton"
                            onclick="NFTnokunka('{{ NFT.idHash }}','sell')">
                        Sell
                    </button>
                {% elif market and pleir %}
                    <div class="text-center">Price: {{ stoimost }} sol +4%</div>
                    <br>
                    <button class="Text3 butonCentrirovat buton6 animator colorF4D nftButton"
                            onclick="NFTnokunka('{{ NFT.idHash }}','take off')">
                        Take off
                    </button>
                {% elif not market and not pleir %}
                    {% comment %} <button class="Text3 butonCentrirovat buton6 animator colorF4D" onclick="NFTnokunka()">*-*</button> {% endcomment %}
                {% endif %}
                <br>
                <br>
                <br>
                <br>
            </div>
            <br>
        </div>
    </div>
    <div class="container-fluid" id="bloc2" style="display:none;">
        <div class="col-md-4 senrovat2Bloc">
            <video autoplay muted loop preload="auto" class="width100">
                <source src='https://i.gifer.com/XOsX.mp4'>
            </video>
        </div>
        <div class="col-md-7">
            <br>
            <br>
            <div class="text-center">
                <div class="fond-center colorF4D">
                    <div class="colorF4D" style="font-size:100px;">Please wait</div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="container-fluid" id="bloc3" style="display:none;">
        <div class="row">
            <div class="col-md-6">
                <img class="width120"
                     src='{% static "main/multimedia/imagies for blocks/complete payments.png" %}'/>
            </div>
            <div class="col-md-6 colorF4D senrovat1Bloc">
                <h1 class="senrovat4Bloc6">
                    Success!
                    <br>
                    Your NFT in Your Items!
                    <br>
                    Let's play right now!
                </h1>
                <a href="{% url 'geimCryptoRunner' %}"
                   class="Text3 butonCentrirovat buton6 animator colorF4D">Start game</a>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
{% endblock %}
