{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}

{% comment %} <script src='{%static "web3.js"%}'></script> {% endcomment %}
{% endblock %}
{% block body %}
    {% comment %} <h1 class="colorF4D senrovat2Bloc">MARKETPLACE<br> {% endcomment %}
    <div class="colorF4D container-fluid ">
        <div class="col-md-6 senrovat2Bloc">
            <img class = "width100" src='{{NFT.ClothesTip.Photo.url}}' alt=""/>
        </div>
        <div class="col-md-6 nftText">
            <div>Nick: {{NFT.Nick}}</div>
            {% comment %} <div>idHash: {{NFT.idHash}}</div> {% endcomment %}
            {% comment %} <div>Energia: {{NFT.Energia}}/{{NFT.EnergiaMax}}</div> {% endcomment %}
            <div>Pleir: {{NFT.Pleir.idHash}}</div>

            {% if market and not pleir%}
            <div>stoimost: {{stoimost}}</div>
            <button class="Text3 butonCentrirovat buton6 animator colorF4D" 
            onclick="NFTnokunka({{NFT.idHash}},'bui')"
            id="rrr">bui</button>

            {% elif not market and pleir%}
            <button class="Text3 butonCentrirovat buton6 animator colorF4D" 
            onclick="NFTnokunka({{NFT.idHash}},'sell')">sell</button>

            {% elif market and pleir%}
            <div>stoimost: {{stoimost}}</div>
            <button class="Text3 butonCentrirovat buton6 animator colorF4D" 
            onclick="NFTnokunka({{NFT.idHash}},'take off')"
            id="rrr">take off</button>

            {% elif not market and not pleir%}
            {% comment %} <button class="Text3 butonCentrirovat buton6 animator colorF4D" 
            onclick="NFTnokunka()">*-*</button> {% endcomment %}
            {% endif %}
            
        </div><br><br><br><br><br><br><br>
    </div>
{% endblock %}
