{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}{% endblock %}
{% block body %}
    <div class="colorF4D backgroundColorF4D container-fluid"
         style="margin-top: -25px;">
        <br>
        <h1 class="colorFFF senrovat2Bloc">Profile Page</h1>
        <div class="col-md-3 colorF4D senrovat1Bloc" style="margin-left: 20%">
            {% comment %} {% if user.Photo%}
                <img class="width100" src='user.Photo.url'/>
        {% else %} {% endcomment %}
            <img class="width100"
                 src='{% static "main/multimedia/imagies for blocks/support alex.png" %}'/>
            {% comment %} {% endif %} {% endcomment %}
        </div>
        <div class="col-md-5 senrovatprofilBloc colorFFF"
             style="margin-left: 50px;">
            {% if zritel %}
                User:    {{ user.Nick }}
            {% else %}
                <button onclick="NickPleir()" class="ButtonNot animator3" id="User"></button>
            {% endif %}
            <br>
            money:    {{ user.Money }}
            <br>
            Total Distance:    {{ user.Distansion }}
            <br>
            Energy:    {{ Energia }}/{{ EnergiaMax }}
            <br>
            Register Date:    {{ user.DataRegistr }}
            <br>
            NFT that you have:    {{ NFTCOl }}
            <br>
            <button onclick="cone()" id="Referral" class="ButtonNot animator3"></button>
            <br>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="backgroundColorF4D" style="margin-top: -21px;">
        <br>
        <br>
        <br>
    </div>
    <br>
    <br>
    <br>
    <div class="colorF4D container-fluid">
        <div class="colorF4D senrovat2Bloc">Your Bonny NFT</div>
        {% if not tovar %}
            <br>
            <br>
            <br>
            <br>
            <div class="senrovat2Bloc colorF4D">
                You have 0 NFT right now
                <br>
                Visit <a href="{% url 'MARKETPLACE' %}">Marketplace</a>
            </div>
            <br>
            <br>
            <br>
            <br>
        {% endif %}
        <div class="colorF4D container-fluid">
            {% for i in tovar %}
                <div class="col-md-4 senrovat2Bloc animator color000">
                    <div class="MarketplaceTovar">
                        <a href="{% url 'nft' %}{{ i.idHash }}"
                           class="colorFFF"
                           style='text-decoration: none;'>
                            <img src='{% static "main/multimedia/nft content/nft tranp.png" %}'
                                 class="MarketplaceVidvigat animator"
                                 alt=""/>
                            <img src='{{ i.ClothesTip.Photo.url }}' class="MarketplaceCat " alt=""/>
                            <div class="senrovatMarketplaceText colorFFF">
                                Runner:
                                <br>
                                Energy:
                                <div class="senrovatMarketplaceText2A"># {{ i.id }}</div>
                                <br>
                                <div class="senrovatMarketplaceText2B">{{ i.Energia }}/{{ i.EnergiaMax }}</div>
                            </div>
                        </a>
                        <br>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        document.getElementById("Referral").innerHTML =
        `<img width='40px' src='{% static "main/multimedia/profil/copy.png" %}'/>`+
        "Referral Link:    "+ Referral+` <a id="cope" class="colorFFF"></a>`;

        {% if not zritel %}
        document.getElementById("User").innerHTML =
        `<img width='40px' src='{% static "main/multimedia/profil/edit.png" %}'/>`+
        "User:    {{ user.Nick }}"
        {% endif %}

        async function cone(){
            navigator.clipboard.writeText(Referral)
            .then(() => {})
            .catch(err => {console.log(err);});
            document.getElementById("cope").textContent = "copi"
          setTimeout(sayHi, 500);
        }

        function sayHi() {
            document.getElementById("cope").textContent = ""
        }

        async function NickPleir() {
            let prises = await prompt("XXXXXXXXXXX");
            
            if(prises.length>=20){
                alert("neim nou >20");
                log("neim length"+prises.length);
                return;
            }

            let i = await getData("POST", "", {
                tip:"Nick",
                Date:prises
            });

            if (i["Eroor"]){
                alert("Eroor");
                log("Eroor -> profil -> NickPleir" +i);
                return;
            }
            document.getElementById("User").innerHTML =
            `<img width='40px' src='{% static "main/multimedia/profil/edit.png" %}'/>`+
            "User:    "+prises
            //setTimeout(() => (window.location.href = ""), 200);
        }
    </script>
{% endblock %}
