{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}{% endblock %}
{% block body %}
    <div class="colorF4D backgroundColorF4D container-fluid"
         style="margin-top: -25px;">
        <br>
        <h1 class="colorFFF senrovat2Bloc">Profile Page</h1>
        <div class="col-md-3 colorF4D senrovat1Bloc" style="margin-left: 250px;">
            {% if user.Photo %}
                <img class="width100" src='user.Photo.url'/>
            {% else %}
                <img class="width100"
                     src='{% static "main/multimedia/imagies for blocks/support alex.png" %}'/>
            {% endif %}
        </div>
        <div class="col-md-7 senrovatprofilBloc colorFFF"
             style="margin-left: 50px;">
            Nick Name:    {{ user.Nick }}
            <br>
            idHash:    {{ user.idHash }}
            <br>
            money:    {{ user.Money }}
            <br>
            Total Distance:    {{ user.Distansion }}
            <br>
            Energy:    {{ user.Energia }}/{{ user.EnergiaMax }}
            <br>
            Register Date:    {{ user.DataRegistr }}
            <br>
            NFT that you have:    {{ NFTCOl }}
            <br>
            <button onclick="cone()"
                    id="Referral"
                    style="border:none;
                           background-color: #00000000;"></button>
            <br>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="backgroundColorF4D" style="margin-top: -21px;">
        <br>
        <br>
        <br>
    </div>
    <br>
    <br>
    <br>
    <div class="colorF4D container-fluid">
        <h1 class="colorF4D senrovat2Bloc">Your Bonny NFT</h1>
        {% if not tovar %}
            <br>
            <br>
            <br>
            <br>
            <div class="senrovat2Bloc colorF4D">
                You have 0 NFT right now
                <br>
                Visit <a href="{% url 'MARKETPLACE' %}">Marketplace</a>
            </div>
            <br>
            <br>
            <br>
            <br>
        {% endif %}
        <div class="colorF4D container-fluid">
            {% for i in tovar %}
                <div class="col-md-4 senrovat2Bloc animator color000">
                    <div class="MarketplaceTovar">
                        <p>
                            <a href="{% url 'nft' %}{{ i.idHash }}" class="colorFFF">
                                <img src='{% static "main/multimedia/nft content/nft tranp.png" %}'
                                     class="MarketplaceVidvigat animator"
                                     alt=""/>
                                <img src='{{ i.ClothesTip.Photo.url }}' class="MarketplaceCat " alt=""/>
                            </a>
                            <div class="senrovatMarketplaceText colorFFF">
                                Runner:
                                <br>
                                Energy:
                                <div class="senrovatMarketplaceText2A"># {{ i.id }}</div>
                                <br>
                                <div class="senrovatMarketplaceText2B">{{ i.Energia }}/{{ i.EnergiaMax }}</div>
                            </div>
                            <br>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        let a =domen+"/Referral"+"/"+{{user.pk}};
        document.getElementById("Referral").innerHTML ="referalnia:    "+ a+` <a id="cope" class="colorFFF"></a>`;
        async function cone(){
            navigator.clipboard.writeText(a)
            .then(() => {console.log('So');})
            .catch(err => {console.log('Something went wrong', err);});
            document.getElementById("cope").textContent = "copi"
          setTimeout(sayHi, 500);
        }

        function sayHi() {
            document.getElementById("cope").textContent = ""
        }
    </script>
{% endblock %}
