{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}{% endblock %}
{% block body %}
    <div class="colorF4D navbar container-fluid">
        <div class="col-md-3 colorF4D senrovat1Bloc">
            <img class="width100"
                 src='{% static "main/multimedia/imagies for blocks/phantom connect 1.png" %}'/>
        </div>
        <div class="col-md-8 senrovatprofilBloc color000">
            moneu:{{user.Money}}<br>
            idHash:{{user.idHash}}<br>
            Nick:{{user.Nick}}<br>
            Distansion:{{user.Distansion}}<br>
            DataRegistr:{{user.DataRegistr}}<br>
            Energia:{{user.Energia}}/{{user.EnergiaMax}}<br>
            NFT colisectvio:{{NFTCOl}}


        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="colorF4D container-fluid">
        {% if not tovar %}
            <br>
            <br>
            <br>
            <br>
            <div class="senrovat2Bloc colorF4D">Sold Out</div>
            <br>
            <br>
            <br>
            <br>
        {% endif %}
        <div class="colorF4D container-fluid">
            {% for i in tovar %}
                <div class="col-md-4 senrovat2Bloc animator color000">
                    <div class="MarketplaceTovar">
                        <p>
                            <a href="{% url 'nft' %}{{ i.idHash }}" class="colorFFF">
                                <img src='{% static "main/multimedia/nft content/nft tranp.png" %}'
                                     class="MarketplaceVidvigat animator"
                                     alt=""/>
                                <img src='{{ i.ClothesTip.Photo.url }}' class="MarketplaceCat " alt=""/>
                            </a>
                            <div class="senrovatMarketplaceText colorFFF">
                                runner:
                                <br>
                                energia:
                                <div class="senrovatMarketplaceText2A"># {{ i.nft.id }}</div>
                                <br>
                                <div class="senrovatMarketplaceText2B">
                                    {{ i.Energia }}/{{ i.EnergiaMax }}
                                </div>
                            </div>
                            <br>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
