{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
{% endblock %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 colorF4D senrovat1Bloc">
            <h1 class="senrovat4Bloc5">Please, Login With Your</h1>
            
            <button onclick="conect()"
class="Text3 butonCentrirovat buton6 animator colorF4D">Phantom</button>
        </div>
        <div class="col-md-7">
            <img class="width100" src='{% static "main/multimedia/imagies for blocks/phantom connect 1.png" %}'/>
        </div>
    </div>
</div>

<br><br><br><br><br>
{% endblock %}

