{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
{% endblock %}
{% block ScriptHelp %}document.cookie = "publicKey=; path=/;";{% endblock %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 colorF4D senrovat1Bloc">
            <h1 class="senrovat4Bloc5"style="font-size: 75px;">Please, Connect Your Phantom Wallet</h1>
            <div class="senrovat4Bloc5"style="font-size: 45px;">We need This to save your progress and We Only use Your Public Key</div>
            
            <button onclick="conect()"
class="Text3 butonCentrirovat buton6 animator colorF4D">Login</button>
        </div>
        <div class="col-md-7">
            <img class="width80" src='{% static "main/multimedia/imagies for blocks/phantom connect 1.png" %}'/>
        </div>
    </div>
</div>

<br><br><br><br><br>
{% endblock %}

