{% extends "base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}
{% block head %}
<style>
  body {
    background-color: #FF4F7D }
  </style>
{% endblock %}
{% block body %}
<div class="colorF4D navbar container-fluid">
    <h1 class="colorFFF senrovat2Bloc">PLAY BONNY GAMES NOW</h1>

    <div class="col-md-6">
        <img class="imeig2bloc" src='{% static "mein/crypto runner.png" %}'/>
        <div class="Text3 buton1 animator"><a href="{% url 'geim'%}"><div class="colorF4D">Play</div></a></div><br>
        <div class="Text3 buton3 animator"><a href="{% url 'Razrabotka'%}"><div class="colorF4D">Visit Store</div></a></div>
    </div>

    <div class="col-md-6">
        <img class="imeig2bloc2" src='{% static "mein/anim arena.png" %}'/>
        <div class="Text3 buton2 animator"><a href="{% url 'Razrabotka'%}"><div class="colorF4D">In Development</div></a></div>
    </div>
    <div class="col-md-12"><br><br></div>
</div>
{% endblock %}