<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}{{ title }}{% endblock %}
        </title>
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              rel="stylesheet"/>
        <link rel="stylesheet" href='{% static "main/resurs/Css.css" %}'/>

        {% comment %} <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/> {% endcomment %}
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href='{% static "main/multimedia/favicon-32x32.png" %}'/>
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href='{% static "main/multimedia/favicon-16x16.png" %}'/>
        {% comment %} <link rel="manifest" href='{% static "main/resurs/site.webmanifest" %}'/> {% endcomment %}
        {% comment %} <script>
            
        </script> {% endcomment %}

        <!-- Development (un-minified) -->
        {% comment %} <script src="https://unpkg.com/@solana/web3.js@latest/lib/index.iife.js"></script> {% endcomment %}
        <!-- Production (minified) -->
        {% comment %} <script src="https://unpkg.com/@solana/web3.js@latest/lib/index.iife.min.js"></script> {% endcomment %}

        
        {% comment %} <script>
            window.process = BrowserFS.BFSRequire('process');
            window.Buffer = BrowserFS.BFSRequire('buffer').Buffer;
          </script> {% endcomment %}
        {% comment %} <script src="https://unpkg.com/@solana/web3.js"></script>  {% endcomment %}

        <script src="{% static 'main/resursJS/bundle.js' %}"></script>

        <script>
            const url = "{% url 'registr'%}";
            const urlGeim = "{% url 'geim'%}";
            const urlNFTbui = "";
            start(url,urlGeim,urlNFTbui)
        </script>

        <style>
            @font-face {
               font-family: 'Bangers-Regular';
               src: url('{% static "main/resurs/srift.ttf" %}');
            }
        </style>
    {% block head %}{% endblock %}
    </head>
    <body>
        <nev class="navbar-default">
        <div class="container-fluid navbar">
            <div class="navbar-header">
                <div class="col-md-1"></div>
                <p>
                    <a href="{% url 'main' %}">
                        <img class="navImeig"
                             src='{% static "main/multimedia/logo small white.png" %}'
                             alt="Logo">
                    </a>
                </p>
            </div>
            <div>
                <ul>
                    <div class="col-md-1"></div>
                    <li class="col-md-2">
                        <a href="{% url 'Vgeim' %}">
                            <div class="colorFFF Textnavbar text-center">GAMES</div>
                        </a>
                    </li>
                    <li class="col-md-2">
                        <a href="{% url 'Razrabotka' %}">
                            <div class="colorFFF Textnavbar text-center">TOKEN</div>
                        </a>
                    </li>
                    <li class="col-md-2">
                        <a href="{% url 'MARKETPLACE' %}">
                            <div class="colorFFF Textnavbar2 text-center">MARKETPLACE</div>
                        </a>
                    </li>
                    <li class="col-md-2">
                        <a href="{% url 'Razrabotka' %}">
                            <div class="colorFFF Textnavbar text-center">STAKE</div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        </nev>
        <div class="sotseti mycol">
            <p>
                <a href="{% url 'Razrabotka' %}">
                    <img class="sotsetiIcons" src='{% static "main/multimedia/diskord.png" %}' alt="">
                </a>
            </p>
            <p>
                <a href="{% url 'Razrabotka' %}">
                    <img class="sotsetiIcons" src='{% static "main/multimedia/telegram.png" %}' alt="">
                </a>
            </p>
            <p>
                <a href="{% url 'Razrabotka' %}">
                    <img class="sotsetiIcons" src='{% static "main/multimedia/twiter.png" %}' alt="">
                </a>
            </p>
            <!-- <img class="sotsetiFon"
            src='{% static "main/multimedia/crypto runner.png" %}'
            alt="Logo"> -->
        </div>
        {% block body %}{% endblock %}
        <br>
        <div class="navbar colorF4D container-fluid mycol">
            <h1 class="navbar col-md-12 colorFFF senrovat4Bloc1">
                <br>
                Bonny Games
                <br>
                2022
                <br>
                <br>
            </h1>
        </div>
    </body>
</html>
