<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!--meta-->
        <meta charset="utf-8">
        {% block metaImage %}
            <meta property="og:title" content="Bonny Games" />
            <meta property="og:description" content="Play To Earn Blockchain Gameverse" />
            <meta property="og:image"
                  content='{% static "main/multimedia/logo/1024/logo big black.png" %}'/>
        {% endblock %}
        {% comment %} <meta name="theme-color" content="#FF4F7D">
        <meta name="msapplication-navbutton-color" content="#FF4F7D">
        <meta name="apple-mobile-web-app-status-bar-style" content="#FF4F7D"> {% endcomment %}
        <title>
            {% block title %}{{ title }}{% endblock %}
        </title>
        <!--CSS-->
        <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              rel="stylesheet"/>
        <link rel="stylesheet" href='{% static "main/resurs/stile.Css" %}'/>
        <!--iconca-->
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href='{% static "main/multimedia/logo/favicon-32x32.png" %}'/>
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href='{% static "main/multimedia/logo/favicon-16x16.png" %}'/>
        <!--JS-->
        <script src="https://unpkg.com/@solana/web3.js@latest/lib/index.iife.js"></script>
        <script src="https://unpkg.com/@solana/web3.js@latest/lib/index.iife.min.js"></script>
        <script src="{% static 'main/resursJS/bundle.js' %}"></script>
        {% comment %} <script src="chrome-extension://bfnaelmomeimhlpmgjnjophhpkkoljpa/content_script/inpage.js"></script> {% endcomment %}
        <script id="ScriptHelp">
            const url = "{% url 'registr'%}";
            const urlGeim = "{% url 'main'%}";
            const urlnft = "{% url 'nft'%}";
            const domen = "bonnygames.fun";
            const Referral =domen+"/Referral/"+"{{Referral}}";
            start(url,urlGeim,urlnft,domen,Referral)
            {% block ScriptHelp %}{% endblock %}
            document.getElementById("ScriptHelp").remove();
        </script>
        <!---->
        <style>@font-face {font-family: 'Bangers-Regular';src: url('{% static "main/resurs/srift.ttf" %}');}</style>
        {% block head %}{% endblock %}
    </head>
    <body id="body" {% block bodyTeg %}{% endblock %}>
        <nev class="navbar-default">
        <div class="container-fluid backgroundColorF4D">
            <div class="navbar-header">
                <div class="col-md-1"></div>
                <p>
                    <a href="{% url 'main' %}">
                        <img class="navImeig"
                             src='{% static "main/multimedia/logo/logo small white.png" %}'
                             alt="Logo">
                    </a>
                </p>
            </div>
            <div>
                <ul>
                    <div class="col-md-1"></div>
                    <li class="col-md-2">
                        <a href="{% url 'Vgeim' %}">
                            <div class="colorFFF Textnavbar text-center">GAMES</div>
                        </a>
                    </li>
                    {% comment %} <li class="col-md-2">
                        <a href="{% url 'Razrabotka' %}">
                            <div class="colorFFF Textnavbar text-center">TOKEN</div>
                        </a>
                    </li> {% endcomment %}
                    <li class="col-md-2">
                        <a href="{% url 'MARKETPLACE' %}"
                           {% if not stronisa %}target="_blank"{% endif %}>
                            <div class="colorFFF Textnavbar2 text-center">MARKETPLACE</div>
                        </a>
                    </li>
                    <li class="col-md-2">
                        <a href="https://gj-animation-studio.gitbook.io/bonny-games-white-list/"
                           target="_blank">
                            <div class="colorFFF Textnavbar text-center">whitepaper</div>
                        </a>
                    </li>
                    <li class="col-md-2" style="float: right;">
                        <a href="{% url 'profile' %}"
                           {% comment %}
                           {% if profilVcladka %}target="_blank"{% endif %}
                           {% endcomment %}>
                        <div class="colorFFF Textnavbar text-center" id="profile">profile</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    </nev>
    <div class="sotseti mycol">
        <p>
            <a href="https://discord.gg/K868mG9DK7" target="_blank">
                <img class="sotsetiIcons"
                     src='{% static "main/multimedia/logo/diskord.png" %}'
                     alt="">
            </a>
        </p>
        <p>
            <a href="https://t.me/bonnygames"  target="_blank">
                <img class="sotsetiIcons"
                     src='{% static "main/multimedia/logo/telegram.png" %}'
                     alt="">
            </a>
        </p>
        <p>
            <a href="https://www.youtube.com/channel/UC5M97bGzgZPC1w1jch4S7nQ"  target="_blank">
                <img class="sotsetiIcons"
                     src='{% static "main/multimedia/icons/youtube_00000.png" %}'
                     alt="">
            </a>
        </p>
        <p>
            <a href="https://twitter.com/BonnyGamesFun"  target="_blank">
                <img class="sotsetiIcons"
                     src='{% static "main/multimedia/logo/twiter.png" %}'
                     alt="">
            </a>
        </p>
        <p>
            <a href="{% url 'MARKETPLACE' %}"
               {% if not stronisa %}target="_blank"{% endif %}>
                <img class="sotsetiIcons"
                     src='{% static "main/multimedia/icons/market icon_00000.png" %}'
                     alt="">
            </a>
        </p>
    </div>
    {% block body %}{% endblock %}
    <br>
    <div class="backgroundColorF4D colorF4D container-fluid mycol">
        <div class="backgroundColorF4D col-md-12 colorFFF senrovat4Bloc1">
            <br>
            Bonny Games
            <br>
            2022
            <br>
            <br>
        </div>
    </div>
    <!--js2-->
    {% comment %} <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
                                <script src="https://code.jquery.com/jquery-migrate-3.4.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> {% endcomment %}
    
    <script>
        function getCookie(name) {
	        var matches = document.cookie.match(new RegExp("(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"));
	        return matches ? decodeURIComponent(matches[1]) : undefined;
        }

        if(getCookie('publicKey')==undefined)
            document.getElementById("profile").textContent = "Registration";
    </script>
</body>
</html>
