{% extends "base.html" %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block body %}
    
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 colorF4D senrovat1Bloc">
            <h1 class="senrovat4Bloc1">COMING SOON!</h1>
            <div class="zag1">
                WEBPAGE UNDER CONSTRUCTION
            </div>
            <a href="{% url 'main'%}" 
class="Text3 butonCentrirovat buton6 animator colorF4D">Home Page </a>
        </div>
        <div class="col-md-6">
            <img class="width80" src='{% static "main/multimedia/in dev.png" %}'/>
        </div>
    </div>
</div>

<br><br><br><br><br>
{% endblock %}